//
// HTML
//
html{
    font-family: "Hind", "Montserrat", "Opens sans", "Arial";
    color: $colors-font-default;
    font-size: 16px;
    line-height: 140%;
}
@media screen and (max-width: $metrics-mobile-device){
    html{
        font-size: 14px;
    }
}