//
// BUTTONS
//
button{
    cursor: pointer;
    color: $colors-primary;
    &:focus{
        outline:none;
    }
    &:hover{
        color: darken($colors-primary,10%);
    }
}
.theme-btn{
    padding: 0 1.5rem;
}