/*------------------------------------*\
  #COLOR PALETTE
\*------------------------------------*/

$colors-primary: green;
$colors-primary-contrast: white;

$colors-secondary: lightgreen;
$colors-secondary-contrast: white;

$colors-background: white;
$colors-background-dark: #f4f4f4;

$font-default-color: #999999;