/*------------------------------------*\
  #COLOR PALETTE
\*------------------------------------*/

$colors-primary: #63a78e;
$colors-primary-contrast: white;

$colors-secondary: #42b877;
$colors-secondary-contrast: white;

$colors-background: white;
$colors-background-dark: #f4f4f4;

$colors-font-default: #444444;
$colors-font-lighten: #999999;
