$metrics-header-height: 4.4rem;
$metrics-header-padding: 0 1.2rem;

$metrics-component-padding: 1rem;
$metrics-component-margin: 1rem;

$metrics-component-border-1: 0.2rem;
$metrics-component-box-shadow: 0 0 0.1rem 0 rgba(0,0,0,0.1);


$metrics-mobile-device: 758px;
$metrics-tablet-device: 1200px;
$metrics-laptop-device: 1600px;
$metrics-desktop-device: 1980px;