%circle-picture{
    display: inline-flex;
    align-items: flex-end;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background: $colors-background-dark;
    overflow: hidden;
    img{
        margin: 0 auto;
        display: block;
        max-width: 88%;
    }
}

%button-widget{
    background: $colors-secondary;
    color: $colors-secondary-contrast;
    border-radius: 0.2rem;
    padding: 0 1.6rem;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
    transition: all 0.4s;
    &:hover{
        background: darken($colors-secondary,10%);
    }
}