@import 'src/sass/colors';
@import 'src/sass/metrics';

.header{
    padding: $metrics-header-padding;
    height: $metrics-header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.16);
    &__content{
        flex: 1 1 100%;
        &--left{
            text-align: left;
        }
        &--center{
            text-align: center;
        }
        &--right{
            text-align: right;
        }
    }
    &__title{
        font-weight: bold;    
    }
    &__greeting{
        color: $colors-font-lighten;
    }
    &__logout{
        margin-left: 0.3rem;
        color: $colors-font-lighten;
        cursor: pointer;
        &:hover{
            color: $colors-font-default;
        }
    }
    @media screen and (max-width: 758px) {
        padding: $metrics-header-padding-mobile;
        height: $metrics-header-height-mobile;
        &__greeting{
            display: none;
        }
    }
}