@import 'src/sass/colors';
@import 'src/sass/metrics';
@import 'src/sass/mixins';

.publication-widget{
    background: $colors-background;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: $metrics-component-border-1;
    box-shadow: $metrics-component-box-shadow;
    &__input-area{
        padding: $metrics-component-padding;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        .MuiInput-underline:before{
            content: none;
        }
    }
    &__button-area{
        padding: $metrics-component-padding;
        display: flex;
        justify-content: flex-end;
    }
    &__input-widget{
        width: 100%;
    }
    &__button-widget{
        @extend %button-widget;
    }
    @media screen and (max-width: 758px) {
        &__button-area{
            display: none;
        }
    }
}