@import 'src/sass/colors';
@import 'src/sass/metrics';

.publication-widget{
    background: $colors-background;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: $metrics-component-border-1;
    box-shadow: $metrics-component-box-shadow;
    &__input-area{
        padding: $metrics-component-padding;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        .MuiInput-underline:before{
            content: none;
        }
    }
    &__button-area{
        padding: $metrics-component-padding;
        display: flex;
        justify-content: flex-end;
    }
    &__input-widget{
        width: 100%;
    }
    &__button-widget{
        background: $colors-secondary;
        color: $colors-secondary-contrast;
        border-radius: 0.2rem;
        padding: 0 1.6rem;
        height: 1.8rem;
        line-height: 1.8rem;
        font-size: 0.9rem;
    }
}