@import 'src/sass/colors';
@import 'src/sass/metrics';
@import 'src/sass/mixins';

.register-page{
    display:flex;
    background: $colors-primary;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    &__login-form{
        background: $colors-primary-contrast;
        max-width: 18rem;
        width: 100%;
        padding: 3rem 2rem 1.5rem 2rem;
        box-shadow: $metrics-component-box-shadow-big;
    }
    .form-group{
        width: 100%;
        margin: 1.2rem 0;
        &--border{
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
        &__button{
            @extend %button-widget;
            margin-right: 2rem;
        }
    }
}