@import 'sass/reset';
@import 'sass/grids';

@import 'sass/colors';
@import 'sass/metrics';
@import 'sass/typography';

@import 'sass/base';
@import 'sass/buttons';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
